body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.login-button {
    float: right;
}

.login-button button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.login-button button:hover {
    background-color: #45a049;
}

.popup-options {
    text-align: center;
}

.popup-options button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-options button:hover {
    background-color: #0056b3;
}

.popUps-container{
    /* background-color: #45a049; */
}


/* Axis Bank Solution */
 /* Custom CSS for card layout */
 .card {
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 25px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}